.wrapper {
  display: flex;
  align-items: center;
  padding: 1px var(--space-1_5);

  align-self: stretch;
}

.item {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  padding: var(--space-2) var(--space-2_5);
  border-radius: var(--radii-1_5);

  color: var(--colors-text-secondary);
  font-size: var(--font-size-3);
  line-height: var(--line-height-2);
  font-weight: 600;

  span {
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--space-2);

    figure {
      color: var(--colors-foreground-quaternary);
    }
  }
}

.item__clickable {
  cursor: pointer;

  transition: background-color 0.18s;
  will-change: background-color;

  &:hover:not(.item__disabled) {
    background-color: var(--colors-background-primary-hover);
  }
}

.item__selected {
  background-color: var(--colors-background-active);
  color: var(--colors-text-tertiary);

  figure {
    color: var(--colors-foreground-brand-primary);
  }

}

.item__disabled {
  cursor: not-allowed;
  color: var(--colors-text-disabled);

  figure {
    color: var(--colors-foreground-disabled);
  }
}