.size-1:not(.multiline) {
  height: var(--space-10);
  padding: 0 var(--space-3);
}

.size-2:not(.multiline) {
  height: var(--space-12);
  padding: 0 var(--space-3_5);
}

.size-1.multiline {
  min-height: var(--space-10);
  padding: var(--space-2_5) var(--space-3);
}

.size-2.multiline {
  min-height: var(--space-12);
  padding: var(--space-2_5) var(--space-3_5);
}