.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: var(--radii-99);
    
    color: var(--colors-foreground-quaternary);
    background-color: var(--colors-components-avatar-background-default);
    border: 0.5px solid var(--colors-components-avatar-contrast-border);

    color: var(--colors-foreground-quaternary);
    font-weight: 600;
}