.overlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colors-background-overlay);
    z-index: 100;

    opacity: 0;
    transition: opacity 0.18s;
    will-change: opacity;
}

.overlay__opened {
    opacity:  .7;
    pointer-events: all;
}

.overlay__closed {
    opacity:  0;
}