:root {
  /* DON'T CHANGE THIS FILE, IT CAN BE OVERWRITTEN */

  /* -------- Generated Variables -------- */

  /* -------- Spaces Variables -------- */

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-11: 44px;
  --space-12: 48px;
  --space-13: 52px;
  --space-14: 56px;
  --space-15: 60px;
  --space-16: 64px;
  --space-17: 68px;
  --space-18: 72px;
  --space-19: 76px;
  --space-20: 80px;
  --space-0_5: 2px;
  --space-1_5: 6px;
  --space-2_5: 10px;
  --space-3_5: 14px;
  --space-4_5: 18px;
  --space-5_5: 22px;

  /* -------- Font Sizes Variables -------- */

  --font-size-1: 10px;
  --font-size-2: 12px;
  --font-size-3: 14px;
  --font-size-4: 16px;
  --font-size-5: 18px;
  --font-size-6: 20px;
  --font-size-7: 24px;
  --font-size-8: 30px;
  --font-size-9: 36px;
  --font-size-10: 48px;
  --font-size-11: 60px;
  --font-size-12: 72px;

  /* -------- Line Height Variables -------- */

  --line-height-1: 18px;
  --line-height-2: 20px;
  --line-height-3: 24px;
  --line-height-4: 28px;
  --line-height-5: 30px;
  --line-height-6: 32px;
  --line-height-7: 38px;
  --line-height-8: 44px;
  --line-height-9: 60px;
  --line-height-10: 72px;
  --line-height-11: 90px;

  /* -------- Radii Variables -------- */

  --radii-1: 4px;
  --radii-2: 8px;
  --radii-3: 12px;
  --radii-4: 16px;
  --radii-5: 20px;
  --radii-6: 24px;
  --radii-99: 9999px;
  --radii-0_5: 2px;
  --radii-1_5: 6px;
  --radii-2_5: 10px;

  /* -------- Primary Colors -------- */

  --colors-primary-base-white: #FFFFFF;
  --colors-primary-base-black: #000000;
  --colors-primary-base-transparent: transparent;
  --colors-primary-brand-25: #fcf9f1;
  --colors-primary-brand-50: #fef7df;
  --colors-primary-brand-100: #fdf2cd;
  --colors-primary-brand-200: #ffe58e;
  --colors-primary-brand-300: #f9de83;
  --colors-primary-brand-400: #f0ce61;
  --colors-primary-brand-500: #dfb541;
  --colors-primary-brand-600: #cba337;
  --colors-primary-brand-700: #b89432;
  --colors-primary-brand-800: #9a7b28;
  --colors-primary-brand-900: #635018;
  --colors-primary-brand-950: #3b2f0a;
  --colors-primary-light-gray-25: #FCFCFD;
  --colors-primary-light-gray-50: #f9fafb;
  --colors-primary-light-gray-100: #f2f4f7;
  --colors-primary-light-gray-200: #E4E7EC;
  --colors-primary-light-gray-300: #D0D5DD;
  --colors-primary-light-gray-400: #98a2b3;
  --colors-primary-light-gray-500: #667085;
  --colors-primary-light-gray-600: #475467;
  --colors-primary-light-gray-700: #344054;
  --colors-primary-light-gray-800: #182230;
  --colors-primary-light-gray-900: #101828;
  --colors-primary-light-gray-950: #0C111D;
  --colors-primary-dark-gray-25: #FAFAFA;
  --colors-primary-dark-gray-50: #F5F5F6;
  --colors-primary-dark-gray-100: #F0F1F1;
  --colors-primary-dark-gray-200: #ECECED;
  --colors-primary-dark-gray-300: #CECFD2;
  --colors-primary-dark-gray-400: #94969C;
  --colors-primary-dark-gray-500: #85888E;
  --colors-primary-dark-gray-600: #61646C;
  --colors-primary-dark-gray-700: #333741;
  --colors-primary-dark-gray-800: #1F242F;
  --colors-primary-dark-gray-900: #161B26;
  --colors-primary-dark-gray-950: #0C111D;
  --colors-primary-error-25: #FFFBFA;
  --colors-primary-error-50: #FEF3F2;
  --colors-primary-error-100: #FEE4E2;
  --colors-primary-error-200: #FECDCA;
  --colors-primary-error-300: #FDA29B;
  --colors-primary-error-400: #F97066;
  --colors-primary-error-500: #F04438;
  --colors-primary-error-600: #D92D20;
  --colors-primary-error-700: #B42318;
  --colors-primary-error-800: #912018;
  --colors-primary-error-900: #7A271A;
  --colors-primary-error-950: #55160C;
  --colors-primary-warning-25: #FFFCF5;
  --colors-primary-warning-50: #FFFAEB;
  --colors-primary-warning-100: #FEF0C7;
  --colors-primary-warning-200: #FEDF89;
  --colors-primary-warning-300: #FEC84B;
  --colors-primary-warning-400: #FDB022;
  --colors-primary-warning-500: #F79009;
  --colors-primary-warning-600: #DC6803;
  --colors-primary-warning-700: #B54708;
  --colors-primary-warning-800: #93370D;
  --colors-primary-warning-900: #7A2E0E;
  --colors-primary-warning-950: #4E1D09;
  --colors-primary-success-25: #F6FEF9;
  --colors-primary-success-50: #ECFDF3;
  --colors-primary-success-100: #DCFAE6;
  --colors-primary-success-200: #ABEFC6;
  --colors-primary-success-300: #75E0A7;
  --colors-primary-success-400: #47CD89;
  --colors-primary-success-500: #17B26A;
  --colors-primary-success-600: #079455;
  --colors-primary-success-700: #067647;
  --colors-primary-success-800: #085D3A;
  --colors-primary-success-900: #074D31;
  --colors-primary-success-950: #053321;

  /* -------- Secondary Colors -------- */

  --colors-secondary-gray-blue-25: #FCFCFD;
  --colors-secondary-gray-blue-50: #F8F9FC;
  --colors-secondary-gray-blue-100: #EAECF5;
  --colors-secondary-gray-blue-200: #D5D9EB;
  --colors-secondary-gray-blue-300: #B3B8DB;
  --colors-secondary-gray-blue-400: #717BBC;
  --colors-secondary-gray-blue-500: #4E5BA6;
  --colors-secondary-gray-blue-600: #3E4784;
  --colors-secondary-gray-blue-700: #363F72;
  --colors-secondary-gray-blue-800: #293056;
  --colors-secondary-gray-blue-900: #101323;
  --colors-secondary-gray-blue-950: #0D0F1C;
  --colors-secondary-gray-cool-25: #FCFCFD;
  --colors-secondary-gray-cool-50: #F9F9FB;
  --colors-secondary-gray-cool-100: #EFF1F5;
  --colors-secondary-gray-cool-200: #DCDFEA;
  --colors-secondary-gray-cool-300: #B9C0D4;
  --colors-secondary-gray-cool-400: #7D89B0;
  --colors-secondary-gray-cool-500: #5D6B98;
  --colors-secondary-gray-cool-600: #4A5578;
  --colors-secondary-gray-cool-700: #404968;
  --colors-secondary-gray-cool-800: #30374F;
  --colors-secondary-gray-cool-900: #111322;
  --colors-secondary-gray-cool-950: #0E101B;
  --colors-secondary-blue-light-25: #F5FBFF;
  --colors-secondary-blue-light-50: #E5F5FF;
  --colors-secondary-blue-light-100: #E0F2FE;
  --colors-secondary-blue-light-200: #B9E6FE;
  --colors-secondary-blue-light-300: #7CD4FD;
  --colors-secondary-blue-light-400: #36BFFA;
  --colors-secondary-blue-light-500: #0BA5EC;
  --colors-secondary-blue-light-600: #0086C9;
  --colors-secondary-blue-light-700: #1474AE;
  --colors-secondary-blue-light-800: #065986;
  --colors-secondary-blue-light-900: #0B4A6F;
  --colors-secondary-blue-light-950: #062C41;
  --colors-secondary-blue-25: #F5FAFF;
  --colors-secondary-blue-50: #EFF8FF;
  --colors-secondary-blue-100: #D1E9FF;
  --colors-secondary-blue-200: #B2DDFF;
  --colors-secondary-blue-300: #84CAFF;
  --colors-secondary-blue-400: #53B1FD;
  --colors-secondary-blue-500: #2E90FA;
  --colors-secondary-blue-600: #1570EF;
  --colors-secondary-blue-700: #175CD3;
  --colors-secondary-blue-800: #1849A9;
  --colors-secondary-blue-900: #194185;
  --colors-secondary-blue-950: #102A56;
  --colors-secondary-indigo-25: #F5F8FF;
  --colors-secondary-indigo-50: #EEF4FF;
  --colors-secondary-indigo-100: #E0EAFF;
  --colors-secondary-indigo-200: #C7D7FE;
  --colors-secondary-indigo-300: #A4BCFD;
  --colors-secondary-indigo-400: #8098F9;
  --colors-secondary-indigo-500: #6172F3;
  --colors-secondary-indigo-600: #444CE7;
  --colors-secondary-indigo-700: #3538CD;
  --colors-secondary-indigo-800: #2D31A6;
  --colors-secondary-indigo-900: #2D3282;
  --colors-secondary-indigo-950: #1F235B;
  --colors-secondary-purple-25: #FAFAFF;
  --colors-secondary-purple-50: #F4F3FF;
  --colors-secondary-purple-100: #EBE9FE;
  --colors-secondary-purple-200: #D9D6FE;
  --colors-secondary-purple-300: #BDB4FE;
  --colors-secondary-purple-400: #9B8AFB;
  --colors-secondary-purple-500: #7A5AF8;
  --colors-secondary-purple-600: #6938EF;
  --colors-secondary-purple-700: #5925DC;
  --colors-secondary-purple-800: #4A1FB8;
  --colors-secondary-purple-900: #3E1C96;
  --colors-secondary-purple-950: #27115F;
  --colors-secondary-pink-25: #FEF6FB;
  --colors-secondary-pink-50: #FDF2FA;
  --colors-secondary-pink-100: #FCE7F6;
  --colors-secondary-pink-200: #FCCEEE;
  --colors-secondary-pink-300: #FAA7E0;
  --colors-secondary-pink-400: #F670C7;
  --colors-secondary-pink-500: #EE46BC;
  --colors-secondary-pink-600: #DD2590;
  --colors-secondary-pink-700: #C11574;
  --colors-secondary-pink-800: #9E165F;
  --colors-secondary-pink-900: #851651;
  --colors-secondary-pink-950: #4E0D30;
  --colors-secondary-orange-25: #FEFAF5;
  --colors-secondary-orange-50: #FEF6EE;
  --colors-secondary-orange-100: #FDEAD7;
  --colors-secondary-orange-200: #F9DBAF;
  --colors-secondary-orange-300: #F7B27A;
  --colors-secondary-orange-400: #F38744;
  --colors-secondary-orange-500: #EF6820;
  --colors-secondary-orange-600: #E04F16;
  --colors-secondary-orange-700: #B93815;
  --colors-secondary-orange-800: #932F19;
  --colors-secondary-orange-900: #772917;
  --colors-secondary-orange-950: #511C10;

}

/* -------- Light Colors -------- */
:root.light {
  --colors-utility-gray-50: #f9fafb;
  --colors-utility-gray-100: #f2f4f7;
  --colors-utility-gray-200: #E4E7EC;
  --colors-utility-gray-300: #D0D5DD;
  --colors-utility-gray-400: #98a2b3;
  --colors-utility-gray-500: #667085;
  --colors-utility-gray-600: #475467;
  --colors-utility-gray-700: #344054;
  --colors-utility-gray-800: #182230;
  --colors-utility-gray-900: #101828;
  --colors-utility-brand-50: #fef7df;
  --colors-utility-brand-100: #fdf2cd;
  --colors-utility-brand-200: #ffe58e;
  --colors-utility-brand-300: #f9de83;
  --colors-utility-brand-400: #f0ce61;
  --colors-utility-brand-500: #dfb541;
  --colors-utility-brand-600: #cba337;
  --colors-utility-brand-700: #b89432;
  --colors-utility-brand-800: #9a7b28;
  --colors-utility-brand-900: #635018;
  --colors-utility-error-50: #FEF3F2;
  --colors-utility-error-100: #FEE4E2;
  --colors-utility-error-200: #FECDCA;
  --colors-utility-error-300: #FDA29B;
  --colors-utility-error-400: #F97066;
  --colors-utility-error-500: #F04438;
  --colors-utility-error-600: #D92D20;
  --colors-utility-error-700: #B42318;
  --colors-utility-warning-50: #FFFAEB;
  --colors-utility-warning-100: #FEF0C7;
  --colors-utility-warning-200: #FEDF89;
  --colors-utility-warning-300: #FEC84B;
  --colors-utility-warning-400: #FDB022;
  --colors-utility-warning-500: #F79009;
  --colors-utility-warning-600: #DC6803;
  --colors-utility-warning-700: #B54708;
  --colors-utility-success-50: #ECFDF3;
  --colors-utility-success-100: #DCFAE6;
  --colors-utility-success-200: #ABEFC6;
  --colors-utility-success-300: #75E0A7;
  --colors-utility-success-400: #47CD89;
  --colors-utility-success-500: #17B26A;
  --colors-utility-success-600: #079455;
  --colors-utility-success-700: #067647;
  --colors-utility-gray-blue-50: #F8F9FC;
  --colors-utility-gray-blue-100: #EAECF5;
  --colors-utility-gray-blue-200: #D5D9EB;
  --colors-utility-gray-blue-300: #B3B8DB;
  --colors-utility-gray-blue-400: #717BBC;
  --colors-utility-gray-blue-500: #4E5BA6;
  --colors-utility-gray-blue-600: #3E4784;
  --colors-utility-gray-blue-700: #363F72;
  --colors-utility-blue-light-50: #E5F5FF;
  --colors-utility-blue-light-100: #E0F2FE;
  --colors-utility-blue-light-200: #B9E6FE;
  --colors-utility-blue-light-300: #7CD4FD;
  --colors-utility-blue-light-400: #36BFFA;
  --colors-utility-blue-light-500: #0BA5EC;
  --colors-utility-blue-light-600: #0086C9;
  --colors-utility-blue-light-700: #1474AE;
  --colors-utility-blue-50: #EFF8FF;
  --colors-utility-blue-100: #D1E9FF;
  --colors-utility-blue-200: #B2DDFF;
  --colors-utility-blue-300: #84CAFF;
  --colors-utility-blue-400: #53B1FD;
  --colors-utility-blue-500: #2E90FA;
  --colors-utility-blue-600: #1570EF;
  --colors-utility-blue-700: #175CD3;
  --colors-utility-indigo-50: #EEF4FF;
  --colors-utility-indigo-100: #E0EAFF;
  --colors-utility-indigo-200: #C7D7FE;
  --colors-utility-indigo-300: #A4BCFD;
  --colors-utility-indigo-400: #8098F9;
  --colors-utility-indigo-500: #6172F3;
  --colors-utility-indigo-600: #444CE7;
  --colors-utility-indigo-700: #3538CD;
  --colors-utility-purple-50: #F4F3FF;
  --colors-utility-purple-100: #EBE9FE;
  --colors-utility-purple-200: #D9D6FE;
  --colors-utility-purple-300: #BDB4FE;
  --colors-utility-purple-400: #9B8AFB;
  --colors-utility-purple-500: #7A5AF8;
  --colors-utility-purple-600: #6938EF;
  --colors-utility-purple-700: #5925DC;
  --colors-utility-pink-50: #FDF2FA;
  --colors-utility-pink-100: #FCE7F6;
  --colors-utility-pink-200: #FCCEEE;
  --colors-utility-pink-300: #FAA7E0;
  --colors-utility-pink-400: #F670C7;
  --colors-utility-pink-500: #EE46BC;
  --colors-utility-pink-600: #DD2590;
  --colors-utility-pink-700: #C11574;
  --colors-utility-orange-50: #FEF6EE;
  --colors-utility-orange-100: #FDEAD7;
  --colors-utility-orange-200: #F9DBAF;
  --colors-utility-orange-300: #F7B27A;
  --colors-utility-orange-400: #F38744;
  --colors-utility-orange-500: #EF6820;
  --colors-utility-orange-600: #E04F16;
  --colors-utility-orange-700: #B93815;
  --colors-text-primary: #0C111D;
  --colors-text-secondary: #344054;
  --colors-text-tertiary: #475467;
  --colors-text-quaternary: #667085;
  --colors-text-white: #FFFFFF;
  --colors-text-disabled: #667085;
  --colors-text-placeholder: #667085;
  --colors-text-placeholder_subtle: #D0D5DD;
  --colors-text-brand-primary: #635018;
  --colors-text-brand-secondary: #b89432;
  --colors-text-brand-tertiary: #cba337;
  --colors-text-brand-tertiary_alt: #cba337;
  --colors-text-error-primary: #D92D20;
  --colors-text-success-primary: #D92D20;
  --colors-text-warning-primary: #D92D20;
  --colors-components-button-primary-foreground-default: #FFFFFF;
  --colors-components-button-primary-foreground-hover: #FFFFFF;
  --colors-components-button-primary-background-default: #dfb541;
  --colors-components-button-primary-background-hover: #b89432;
  --colors-components-button-primary-border-default: rgba(16, 24, 40, 0.18);
  --colors-components-button-primary-border-hover: rgba(16, 24, 40, 0.18);
  --colors-components-button-secondary-foreground-default: #344054;
  --colors-components-button-secondary-foreground-hover: #182230;
  --colors-components-button-secondary-background-default: #FFFFFF;
  --colors-components-button-secondary-background-hover: #f9fafb;
  --colors-components-button-secondary-border-default: #D0D5DD;
  --colors-components-button-secondary-border-hover: #D0D5DD;
  --colors-components-button-secondary-color-foreground-default: #b89432;
  --colors-components-button-secondary-color-foreground-hover: #9a7b28;
  --colors-components-button-secondary-color-border-default: #f9de83;
  --colors-components-button-secondary-color-border-hover: #f9de83;
  --colors-components-button-secondary-color-background-default: #FFFFFF;
  --colors-components-button-secondary-color-background-hover: #fef7df;
  --colors-components-button-tertiary-foreground-default: #475467;
  --colors-components-button-tertiary-foreground-hover: #344054;
  --colors-components-button-tertiary-background-default: transparent;
  --colors-components-button-tertiary-background-hover: #f9fafb;
  --colors-components-button-tertiary-color-foreground-default: #b89432;
  --colors-components-button-tertiary-color-foreground-hover: #9a7b28;
  --colors-components-button-tertiary-color-background-default: transparent;
  --colors-components-button-tertiary-color-background-hover: #fef7df;
  --colors-components-button-primary-error-foreground-default: #FFFFFF;
  --colors-components-button-primary-error-foreground-hover: #FFFFFF;
  --colors-components-button-primary-error-background-default: #D92D20;
  --colors-components-button-primary-error-background-hover: #B42318;
  --colors-components-button-primary-error-border-default: rgba(16, 24, 40, 0.18);
  --colors-components-button-primary-error-border-hover: rgba(16, 24, 40, 0.18);
  --colors-components-button-secondary-error-foreground-default: #B42318;
  --colors-components-button-secondary-error-foreground-hover: #912018;
  --colors-components-button-secondary-error-border-default: #FDA29B;
  --colors-components-button-secondary-error-border-hover: #FDA29B;
  --colors-components-button-secondary-error-background-default: #FFFFFF;
  --colors-components-button-secondary-error-background-hover: #FEF3F2;
  --colors-components-button-tertiary-error-foreground-default: #B42318;
  --colors-components-button-tertiary-error-foreground-hover: #912018;
  --colors-components-button-tertiary-error-background-default: transparent;
  --colors-components-button-tertiary-error-background-hover: #FEF3F2;
  --colors-components-button-link-color-foreground-default: #b89432;
  --colors-components-button-link-color-foreground-hover: #9a7b28;
  --colors-components-button-link-gray-foreground-default: #475467;
  --colors-components-button-link-gray-foreground-hover: #344054;
  --colors-components-button-link-error-foreground-default: #B42318;
  --colors-components-button-link-error-foreground-hover: #912018;
  --colors-components-toggle-track-background-active: #cba337;
  --colors-components-toggle-track-background-inactive: #f2f4f7;
  --colors-components-toggle-track-background-hover: #b89432;
  --colors-background-primary: #FFFFFF;
  --colors-background-primary_alt: #FFFFFF;
  --colors-background-primary-solid: #0C111D;
  --colors-background-secondary: #f9fafb;
  --colors-background-secondary_alt: #f9fafb;
  --colors-background-secondary_subtle: #FCFCFD;
  --colors-background-secondary-solid: #f9fafb;
  --colors-background-tertiary: #f2f4f7;
  --colors-background-quaternary: #E4E7EC;
  --colors-background-active: #f9fafb;
  --colors-background-disabled: #f2f4f7;
  --colors-background-disabled_subtle: #f2f4f7;
  --colors-background-overlay: #000000;
  --colors-background-brand-primary: #fef7df;
  --colors-background-brand-primary_alt: #fef7df;
  --colors-background-brand-secondary: #fdf2cd;
  --colors-background-brand-solid: #cba337;
  --colors-background-brand-section: #9a7b28;
  --colors-background-brand-section_subtle: #b89432;
  --colors-background-error-primary: #FEF3F2;
  --colors-background-error-secondary: #FEE4E2;
  --colors-background-error-solid: #D92D20;
  --colors-background-warning-primary: #FFFAEB;
  --colors-background-warning-secondary: #FEF0C7;
  --colors-background-warning-solid: #DC6803;
  --colors-background-success-primary: #ECFDF3;
  --colors-background-success-secondary: #DCFAE6;
  --colors-background-success-solid: #079455;
  --colors-border-primary: #D0D5DD;
  --colors-border-secondary: #E4E7EC;
  --colors-border-tertiary: #f2f4f7;
  --colors-border-disabled: #D0D5DD;
  --colors-border-disabled_subtle: #E4E7EC;
  --colors-border-brand: #dfb541;
  --colors-border-brand-alt: #cba337;
  --colors-border-error: #F04438;
  --colors-border-error_subtle: #FDA29B;
  --colors-foreground-primary: #101828;
  --colors-foreground-secondary: #344054;
  --colors-foreground-tertiary: #475467;
  --colors-foreground-quaternary: #667085;
  --colors-foreground-quinary: #98a2b3;
  --colors-foreground-senary: #D0D5DD;
  --colors-foreground-white: #FFFFFF;
  --colors-foreground-disabled: #98a2b3;
  --colors-foreground-disabled_subtle: #D0D5DD;
  --colors-foreground-brand-primary: #cba337;
  --colors-foreground-brand-primary_alt: #cba337;
  --colors-foreground-brand-secondary: #dfb541;
  --colors-foreground-error-primary: #D92D20;
  --colors-foreground-error-secondary: #F04438;
  --colors-foreground-warning-primary: #DC6803;
  --colors-foreground-warning-secondary: #F79009;
  --colors-foreground-success-primary: #079455;
  --colors-foreground-success-secondary: #17B26A;

}

/* -------- Dark Colors -------- */
:root.dark {
  --colors-utility-gray-50: #161B26;
  --colors-utility-gray-100: #1F242F;
  --colors-utility-gray-200: #333741;
  --colors-utility-gray-300: #333741;
  --colors-utility-gray-400: #61646C;
  --colors-utility-gray-500: #85888E;
  --colors-utility-gray-600: #94969C;
  --colors-utility-gray-700: #CECFD2;
  --colors-utility-gray-800: #ECECED;
  --colors-utility-gray-900: #F0F1F1;
  --colors-utility-brand-50: #3b2f0a;
  --colors-utility-brand-100: #635018;
  --colors-utility-brand-200: #9a7b28;
  --colors-utility-brand-300: #b89432;
  --colors-utility-brand-400: #cba337;
  --colors-utility-brand-500: #dfb541;
  --colors-utility-brand-600: #f0ce61;
  --colors-utility-brand-700: #f9de83;
  --colors-utility-brand-800: #ffe58e;
  --colors-utility-brand-900: #fdf2cd;
  --colors-utility-error-50: #55160C;
  --colors-utility-error-100: #7A271A;
  --colors-utility-error-200: #912018;
  --colors-utility-error-300: #B42318;
  --colors-utility-error-400: #D92D20;
  --colors-utility-error-500: #F04438;
  --colors-utility-error-600: #F97066;
  --colors-utility-error-700: #FDA29B;
  --colors-utility-warning-50: #4E1D09;
  --colors-utility-warning-100: #7A2E0E;
  --colors-utility-warning-200: #93370D;
  --colors-utility-warning-300: #B54708;
  --colors-utility-warning-400: #DC6803;
  --colors-utility-warning-500: #F79009;
  --colors-utility-warning-600: #FDB022;
  --colors-utility-warning-700: #FEC84B;
  --colors-utility-success-50: #053321;
  --colors-utility-success-100: #074D31;
  --colors-utility-success-200: #085D3A;
  --colors-utility-success-300: #067647;
  --colors-utility-success-400: #079455;
  --colors-utility-success-500: #17B26A;
  --colors-utility-success-600: #47CD89;
  --colors-utility-success-700: #75E0A7;
  --colors-utility-gray-blue-50: #0D0F1C;
  --colors-utility-gray-blue-100: #101323;
  --colors-utility-gray-blue-200: #293056;
  --colors-utility-gray-blue-300: #363F72;
  --colors-utility-gray-blue-400: #3E4784;
  --colors-utility-gray-blue-500: #4E5BA6;
  --colors-utility-gray-blue-600: #717BBC;
  --colors-utility-gray-blue-700: #B3B8DB;
  --colors-utility-blue-light-50: #062C41;
  --colors-utility-blue-light-100: #0B4A6F;
  --colors-utility-blue-light-200: #065986;
  --colors-utility-blue-light-300: #1474AE;
  --colors-utility-blue-light-400: #0086C9;
  --colors-utility-blue-light-500: #0BA5EC;
  --colors-utility-blue-light-600: #36BFFA;
  --colors-utility-blue-light-700: #7CD4FD;
  --colors-utility-blue-50: #102A56;
  --colors-utility-blue-100: #194185;
  --colors-utility-blue-200: #1849A9;
  --colors-utility-blue-300: #175CD3;
  --colors-utility-blue-400: #1570EF;
  --colors-utility-blue-500: #2E90FA;
  --colors-utility-blue-600: #53B1FD;
  --colors-utility-blue-700: #84CAFF;
  --colors-utility-indigo-50: #1F235B;
  --colors-utility-indigo-100: #2D3282;
  --colors-utility-indigo-200: #2D31A6;
  --colors-utility-indigo-300: #3538CD;
  --colors-utility-indigo-400: #444CE7;
  --colors-utility-indigo-500: #6172F3;
  --colors-utility-indigo-600: #8098F9;
  --colors-utility-indigo-700: #A4BCFD;
  --colors-utility-purple-50: #27115F;
  --colors-utility-purple-100: #3E1C96;
  --colors-utility-purple-200: #4A1FB8;
  --colors-utility-purple-300: #5925DC;
  --colors-utility-purple-400: #6938EF;
  --colors-utility-purple-500: #7A5AF8;
  --colors-utility-purple-600: #9B8AFB;
  --colors-utility-purple-700: #BDB4FE;
  --colors-utility-pink-50: #4E0D30;
  --colors-utility-pink-100: #851651;
  --colors-utility-pink-200: #9E165F;
  --colors-utility-pink-300: #C11574;
  --colors-utility-pink-400: #DD2590;
  --colors-utility-pink-500: #EE46BC;
  --colors-utility-pink-600: #F670C7;
  --colors-utility-pink-700: #FAA7E0;
  --colors-utility-orange-50: #511C10;
  --colors-utility-orange-100: #772917;
  --colors-utility-orange-200: #932F19;
  --colors-utility-orange-300: #B93815;
  --colors-utility-orange-400: #E04F16;
  --colors-utility-orange-500: #EF6820;
  --colors-utility-orange-600: #F38744;
  --colors-utility-orange-700: #F7B27A;
  --colors-text-primary: #F5F5F6;
  --colors-text-secondary: #CECFD2;
  --colors-text-tertiary: #94969C;
  --colors-text-quaternary: #94969C;
  --colors-text-white: #FFFFFF;
  --colors-text-disabled: #85888E;
  --colors-text-placeholder: #94969C;
  --colors-text-placeholder_subtle: #333741;
  --colors-text-brand-primary: #F5F5F6;
  --colors-text-brand-secondary: #CECFD2;
  --colors-text-brand-tertiary: #94969C;
  --colors-text-brand-tertiary_alt: #F5F5F6;
  --colors-text-error-primary: #F97066;
  --colors-text-success-primary: #F97066;
  --colors-text-warning-primary: #F97066;
  --colors-components-button-primary-foreground-default: #FFFFFF;
  --colors-components-button-primary-foreground-hover: #FFFFFF;
  --colors-components-button-primary-background-default: #dfb541;
  --colors-components-button-primary-background-hover: #b89432;
  --colors-components-button-primary-border-default: rgba(16, 24, 40, 0.18);
  --colors-components-button-primary-border-hover: rgba(16, 24, 40, 0.18);
  --colors-components-button-secondary-foreground-default: #CECFD2;
  --colors-components-button-secondary-foreground-hover: #F0F1F1;
  --colors-components-button-secondary-background-default: #161B26;
  --colors-components-button-secondary-background-hover: #1F242F;
  --colors-components-button-secondary-border-default: #333741;
  --colors-components-button-secondary-border-hover: #333741;
  --colors-components-button-primary-error-foreground-default: #FFFFFF;
  --colors-components-button-primary-error-foreground-hover: #FFFFFF;
  --colors-components-button-primary-error-background-default: #D92D20;
  --colors-components-button-primary-error-background-hover: #B42318;
  --colors-components-button-primary-error-border-default: rgba(16, 24, 40, 0.18);
  --colors-components-button-primary-error-border-hover: rgba(16, 24, 40, 0.18);
  --colors-components-button-secondary-color-foreground-default: #CECFD2;
  --colors-components-button-secondary-color-foreground-hover: #F0F1F1;
  --colors-components-button-secondary-color-background-default: #161B26;
  --colors-components-button-secondary-color-background-hover: #1F242F;
  --colors-components-button-secondary-color-border-default: #333741;
  --colors-components-button-secondary-color-border-hover: #333741;
  --colors-components-button-tertiary-foreground-default: #94969C;
  --colors-components-button-tertiary-foreground-hover: #ECECED;
  --colors-components-button-tertiary-background-default: transparent;
  --colors-components-button-tertiary-background-hover: #1F242F;
  --colors-components-button-tertiary-color-foreground-default: #CECFD2;
  --colors-components-button-tertiary-color-foreground-hover: #F0F1F1;
  --colors-components-button-tertiary-color-background-default: transparent;
  --colors-components-button-tertiary-color-background-hover: #1F242F;
  --colors-components-button-secondary-error-foreground-default: #FECDCA;
  --colors-components-button-secondary-error-foreground-hover: #FEE4E2;
  --colors-components-button-secondary-error-border-default: #912018;
  --colors-components-button-secondary-error-border-hover: #B42318;
  --colors-components-button-secondary-error-background-default: #55160C;
  --colors-components-button-secondary-error-background-hover: #7A271A;
  --colors-components-button-tertiary-error-foreground-default: #FDA29B;
  --colors-components-button-tertiary-error-foreground-hover: #FECDCA;
  --colors-components-button-tertiary-error-background-default: transparent;
  --colors-components-button-tertiary-error-background-hover: #7A271A;
  --colors-components-button-link-color-foreground-default: #CECFD2;
  --colors-components-button-link-color-foreground-hover: #F0F1F1;
  --colors-components-button-link-gray-foreground-default: #94969C;
  --colors-components-button-link-gray-foreground-hover: #ECECED;
  --colors-components-button-link-error-foreground-default: #FDA29B;
  --colors-components-button-link-error-foreground-hover: #FECDCA;
  --colors-components-toggle-track-background-active: #cba337;
  --colors-components-toggle-track-background-inactive: #1F242F;
  --colors-components-toggle-track-background-hover: #b89432;
  --colors-background-primary: #000000;
  --colors-background-primary_alt: #161B26;
  --colors-background-primary-solid: #161B26;
  --colors-background-secondary: #161B26;
  --colors-background-secondary_alt: #000000;
  --colors-background-secondary_subtle: #161B26;
  --colors-background-secondary-solid: #61646C;
  --colors-background-tertiary: #1F242F;
  --colors-background-quaternary: #333741;
  --colors-background-active: #1F242F;
  --colors-background-disabled: #1F242F;
  --colors-background-disabled_subtle: #161B26;
  --colors-background-overlay: #1F242F;
  --colors-background-brand-primary: #dfb541;
  --colors-background-brand-primary_alt: #1F242F;
  --colors-background-brand-secondary: #cba337;
  --colors-background-brand-solid: #cba337;
  --colors-background-brand-section: #1F242F;
  --colors-background-brand-section_subtle: #000000;
  --colors-background-error-primary: #F04438;
  --colors-background-error-secondary: #D92D20;
  --colors-background-error-solid: #D92D20;
  --colors-background-warning-primary: #F79009;
  --colors-background-warning-secondary: #DC6803;
  --colors-background-warning-solid: #DC6803;
  --colors-background-success-primary: #17B26A;
  --colors-background-success-secondary: #079455;
  --colors-background-success-solid: #079455;
  --colors-border-primary: #333741;
  --colors-border-secondary: #1F242F;
  --colors-border-tertiary: #1F242F;
  --colors-border-disabled: #333741;
  --colors-border-disabled_subtle: #1F242F;
  --colors-border-brand: #f0ce61;
  --colors-border-brand-alt: #333741;
  --colors-border-error: #F97066;
  --colors-border-error_subtle: #F97066;
  --colors-foreground-primary: #FFFFFF;
  --colors-foreground-secondary: #CECFD2;
  --colors-foreground-tertiary: #94969C;
  --colors-foreground-quaternary: #94969C;
  --colors-foreground-quinary: #85888E;
  --colors-foreground-senary: #61646C;
  --colors-foreground-white: #FFFFFF;
  --colors-foreground-disabled: #85888E;
  --colors-foreground-disabled_subtle: #61646C;
  --colors-foreground-brand-primary: #dfb541;
  --colors-foreground-brand-primary_alt: #CECFD2;
  --colors-foreground-brand-secondary: #dfb541;
  --colors-foreground-error-primary: #F04438;
  --colors-foreground-error-secondary: #F97066;
  --colors-foreground-warning-primary: #F79009;
  --colors-foreground-warning-secondary: #FDB022;
  --colors-foreground-success-primary: #17B26A;
  --colors-foreground-success-secondary: #47CD89;

}

